<div class="col-md-6 col-md-offset-3">
    <h2>Password</h2>
    <form name="DataForm" (ngSubmit)="f.form.valid && saveData()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
            <div *ngIf="f.submitted && !name.valid" class="help-block">Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !url.valid }">
            <label for="url">Url</label>
            <input type="text" class="form-control" name="url" [(ngModel)]="model.url" #url="ngModel" required />
            <div *ngIf="f.submitted && !url.valid" class="help-block">URL is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !login.valid }">
            <label for="login">Login</label>
            <input type="text" class="form-control" name="login" [(ngModel)]="model.login" #login="ngModel" required />
            <div *ngIf="f.submitted && !login.valid" class="help-block">Login is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !key.valid }">
            <label for="key">Key</label>
            <input type="password" class="form-control" name="key" [(ngModel)]="keyModel.key" #key="ngModel" required />
            <div *ngIf="f.submitted && !key.valid" class="help-block">Key is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" type="submit" class="btn btn-primary">Save</button>
            <a [routerLink]="['/']" class="btn btn-link">Cancel</a>
        </div>
    </form>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</div>
